<main class="container">

    <div class="alert alert-success" *ngIf="success">Opération effectuée avec succès</div>

    <h1>Liste des clients</h1>
    <button class="btn btn-primary" [routerLink]="['addedit' , 0 ]" id="addbtn">Ajouter un client</button>

    <form method="get" [formGroup]="searchForm" (submit)="reloadClients()">
        <div class="row my-4">
            <div class="col-4">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="search" placeholder="Rechercher" formControlName="item" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </div>
    </form>

    <div id="no-items-message" class="alert alert-info" *ngIf="clients.length == 0">Aucun client trouvé</div>

    <table id="clientstable" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom complet</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let client of clients">
                <td>{{ client.id }}</td>
                <td>{{ client.nomComplet }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.telephone }}</td>
                <td>{{ client.adresse}}</td>
                <td>
                    <a [routerLink]="['addedit' , client.id ]" class="btn btn-secondary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                    <button class="btn btn-danger btn-sm ms-3" (click)="delete( client.id )">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</main>