<div class="container">

    <h5 class="modal-title" id="exampleModalLabel" *ngIf="clientForm.controls['id'].value == 0">Ajouter un client</h5>
    <h5 class="modal-title" id="exampleModalLabel" *ngIf="clientForm.controls['id'].value > 0">Editer un client</h5>
    <hr>

    <form [formGroup]="clientForm" (submit)="submit()" class="container">

        <div class="form-line mb-4">
            <label class="form-label">Nom *</label>
            <input class="form-control" minlength="2" type="text" name="nom" placeholder="Nom"
                formControlName="nomComplet" required>
                <span class="error" *ngIf="nom?.touched && nom?.invalid && nom?.pristine">Nom est obligatoire </span>
                <span class="error" *ngIf="nom?.invalid && nom?.dirty">Nom est invalide</span>
        </div>

        <div class="form-line mb-4">
            <label class="form-label">Adresse *</label>
            <input class="form-control" minlength="5" type="text" name="adresse" placeholder="Adresse"
                formControlName="adresse" required>
                <span class="error" *ngIf="adresse?.touched && adresse?.invalid && adresse?.pristine">Adresse est obligatoire </span>
                <span class="error" *ngIf="adresse?.invalid && adresse?.dirty">Adresse est invalide</span>
        </div>

        <div class="form-line mb-4">
            <label class="form-label">Telephone *</label>
            <input class="form-control" minlength="10" type="tel" name="telephone" placeholder="+33 XX XX XX XX XX"
                formControlName="telephone" required>
                <span class="error" *ngIf="telephone?.touched && telephone?.invalid && telephone?.pristine">Telephone est obligatoire </span>
                <span class="error" *ngIf="telephone?.invalid && telephone?.dirty">Telephone est invalide</span>
        </div>

        <div class="form-line mb-4">
            <label class="form-label">Email *</label>
            <input class="form-control" minlength="2" type="email" name="email" placeholder="Email"
                formControlName="email">
                <span class="error" *ngIf="email?.touched && email?.invalid && email?.pristine">Email est obligatoire </span>
                <span class="error" *ngIf="email?.invalid && email?.dirty">Email est invalide</span>
        </div>

        <div class="form-line mb-4 d-flex">
            <button [disabled]="clientForm.invalid" type="submit" class="btn btn-secondary">Valider</button>
            <button type="reset" class="btn btn-danger float-end">Annuler</button>
        </div>

    </form>
</div>