<div class="container">

    <h5 class="modal-title" id="exampleModalLabel" *ngIf="hotelForm.controls['id'].value == 0">Ajouter un hotel</h5>
    <h5 class="modal-title" id="exampleModalLabel" *ngIf="hotelForm.controls['id'].value > 0">Editer un hotel</h5>
    <hr>

    <form [formGroup]="hotelForm" (submit)="submit()" class="container">

        <div class="form-line mb-4">
            <label class="form-label">Nom *</label>
            <input class="form-control" minlength="2" type="text" name="nom" placeholder="Nom" formControlName="nom" required>
        </div>

        <div class="form-line mb-4">
            <label class="form-label">Etoiles *</label>
            <ngb-rating class="form-control" [max]="5" [(rate)]="currentRate" [readonly]="false" name="etoiles" formControlName="etoiles"></ngb-rating>
            <!-- <input class="form-control" minlength="2" type="text" name="nom" placeholder="Nom" formControlName="nom" required> -->
        </div>

        <div class="form-line mb-4">
            <label class="form-label">Adresse *</label>
            <input class="form-control" minlength="2" type="text" name="adresse" placeholder="Adresse" formControlName="adresse" required>
        </div>

        <div class="form-line mb-4">
            <label class="form-label">Ville *</label>
            <input class="form-control" minlength="2" type="text" name="ville" placeholder="Ville" formControlName="ville" required>
        </div>

        <div class="form-line mb-4">
            <label class="form-label">Telephone *</label>
            <input class="form-control" minlength="2" type="tel" name="telephone" placeholder="+33 XX XX XX XX XX" formControlName="telephone" required>
        </div>

        <div class="form-line mb-4">
            <label class="form-label">Email *</label>
            <input class="form-control" minlength="2" type="email" name="email" placeholder="Email" formControlName="email" required>
        </div>

        <div class="form-line mb-4 d-flex">
            <button type="submit" class="btn btn-secondary">Valider</button>
            <button type="reset" class="btn btn-danger float-end">Annuler</button>
        </div>

    </form>
</div>